body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 200px;
  min-height: 200px;
}
#name {
  text-align: center;
  padding: 5%;
  font-family: fantasy;
  font-size: 1.5rem;
}

#description {
  padding: 5%;
  text-align: center;
}

button {
  border-radius: 10%;
}
